body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8; /* Same background color as form for consistency */
}

/* Form Styles */
form {
    padding: 20px; /* Consistent padding */
    border-radius: 5%; /* Consistent border-radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Same box shadow as price card */
    width: 80%; /* Control the width of the form */
    text-align: center; /* Center the text */
    background-color: #fff;
    max-width: 500px;
}

label, input, button {
    width: 90%; /* Make label, input, and button take up most of the form width */
    margin-bottom: 15px; /* Add some bottom margin for spacing */
}

button {
    background-color: #4CAF50; /* A nice green color for the button */
    color: white; /* White text on the button */
    padding: 10px 5px; /* Some padding for the button */
    border: none; /* Remove border from the button */
    border-radius: 5px; /* Rounded corners on the button */
    cursor: pointer; /* Change cursor to pointer on hover */
    max-width: 100px;
    height: 35px;
}

button:hover {
    background-color: #45a049; /* A darker green on hover */
}

/* Heading and Paragraph Styles */
h1, p {
    margin: 10px 0; /* Add some margin */
    color: #333; /* Dark text color for contrast */
}

h1 {
    font-size: 2em; /* Make the heading larger */
}

p {
    font-size: 1em; /* Regular font size for paragraph */
    width: 80%; /* Control the width of the paragraph */
    margin: 0 auto; /* Center the paragraph */
    margin-bottom: 30px;
    max-width: 500px;
}

.section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result-container {
    min-height: 800px; /* ensure that last section doesn't overflow to previous sections */
}

/* Price cards */
#price-card-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.price-card {
    background-color: #fff; /* Background color for the cards */
    padding: 20px; /* Padding inside the cards */
    border: 1px solid #ccc; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    margin: 10px; /* Margin to separate the cards */
    width: 250px;
    height: 170px;
}

.price-card-heading {
    font-size: 22px;
    font-style: italic;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.price {
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
}

.price-card-text {
    font-size: 18px;
    color: #333; 
}

/* if screen does't fit 3 cards side by side show them in a column */
@media screen and (max-width: 1000px) {
    #price-card-container {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
}

#upload-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    max-width: 500px;
}

#open-upload-form-button {
    background-color: grey;
}

#open-upload-form-button:hover {
    background-color: rgb(106, 106, 106); /* A darker green on hover */
}

/* Styles for the pop-up container */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* Styles for the pop-up content */
.upload-form-container {
    background-color: #f8f8f8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 90%; /* Adjust the maximum width as needed for small screens */
    text-align: center;
    border-radius: 5px;
    min-width: 300px; /* Set a minimum width for the form */
}

/* Style for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
